@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-typestar-ocr), monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13.33%;
    --muted: 0 0% 93.33%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13.33%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13.33%;
    --border: 0 0% 93.33%;
    --input: 0 0% 93.33%;
    --primary: 150 50% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 93.33%;
    --secondary-foreground: 0 0% 13.33%;
    --accent: 0 0% 93.33%;
    --accent-foreground: 0 0% 13.33%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 150.26 50.22% 44.9%;
    --chart-1: 150 50% 45%;
    --chart-2: 0 0% 93.33%;
    --chart-3: 0 0% 93.33%;
    --chart-4: 0 0% 96.33%;
    --chart-5: 150 53% 45%;
    --radius: 0.5rem;
  }

  .win {
    --background: 0 0% 100%;
    --foreground: 208 71% 1%;
    --muted: 0 0% 74.51%;
    --muted-foreground: 0 0% 49.41%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 71% 1%;
    --card: 0 0% 100%;
    --card-foreground: 208 71% 1%;
    --border: 0 0% 49.41%;
    --input: 0 0% 74.51%;
    --primary: 240 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 93.85% 25.49%;
    --secondary-foreground: 0 0% 100%;
    --accent: 300 100% 24.71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 49.8%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 74.51%;
    --chart-1: 208 66% 44%;
    --chart-2: 28 66% 44%;
    --chart-3: 28 66% 44%;
    --chart-4: 28 66% 47%;
    --chart-5: 208 69% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 149.43 2.24% 6%;
    --foreground: 252 15.08% 88.22%;
    --muted: 133.58 2.24% 15.05%;
    --muted-foreground: 0 0% 100%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 187.92 13.72% 6.76%;
    --card-foreground: 252 18.78% 93.37%;
    --border: 0 0% 21%;
    --input: 117.74 3.64% 16.33%;
    --primary: 92.83 73.97% 61.58%;
    --primary-foreground: 0 0% 0%;
    --secondary: 186.76 97.26% 28.63%;
    --secondary-foreground: 0 0% 0%;
    --accent: 316.6 25.13% 36.67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354.51 87.43% 65.69%;
    --destructive-foreground: 0 0% 0%;
    --ring: 92.92 73.47% 61.57%;
    --chart-1: 92.83 73.97% 61.58%;
    --chart-2: 186.76 97.26% 28.63%;
    --chart-3: 316.6 25.13% 36.67%;
    --chart-4: 186.76 97.26% 31.63%;
    --chart-5: 92.83 76.97% 61.58%;
  }

  .alien {
    --background: 195, 23.08%, 10.2%;
    --foreground: 180 94.16% 73.14%;
    --muted: 28 27% 13%;
    --muted-foreground: 28 7% 64%;
    --popover: 208 32% 3%;
    --popover-foreground: 208 12% 100%;
    --card: 195, 23.08%, 10.2%;
    --card-foreground: 180 94.16% 73.14%;
    --border: 207.56 74.14% 54.51%;
    --input: 208 14% 15%;
    --primary: 109.41 51.52% 80.59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 204.69 96.97% 61.18%;
    --secondary-foreground: 0 0% 100%;
    --accent: 28 66% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 8.22 61.86% 53.73%;
    --destructive-foreground: 0 0% 100%;
    --ring: 208 66% 44%;
    --chart-1: 208 66% 44%;
    --chart-2: 28 66% 44%;
    --chart-3: 28 66% 44%;
    --chart-4: 28 66% 47%;
    --chart-5: 208 69% 44%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* Global modern dark scrollbar styles */
* {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: hsl(240 5% 26%) hsl(240 5% 15%);
  /* Firefox */
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: hsl(240 5% 15%);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: hsl(240 5% 26%);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(240 5% 34%);
}

/* For horizontal scrollbars */
::-webkit-scrollbar-corner {
  background: transparent;
}

.dark .text-git {
  color: #fd7f63;
}

.bg-git {
  background-color: #fd7f63;
}

.text-git {
  color: #cf4c2f;
}


.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-2-28 0:10:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}