@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-typestar-ocr), monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 252 62% 99%;
    --foreground: 252 67% 2%;
    --muted: 72 22% 94%;
    --muted-foreground: 72 1% 39%;
    --popover: 252 62% 98%;
    --popover-foreground: 252 67% 1%;
    --card: 252 62% 98%;
    --card-foreground: 252 67% 1%;
    --border: 252 3% 94%;
    --input: 252 3% 94%;
    --primary: 252 11% 35%;
    --primary-foreground: 252 11% 95%;
    --secondary: 72 11% 35%;
    --secondary-foreground: 0 0% 100%;
    --accent: 72 11% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 15 99% 31%;
    --destructive-foreground: 15 99% 91%;
    --ring: 252 11% 35%;
    --chart-1: 252 11% 35%;
    --chart-2: 72 11% 35%;
    --chart-3: 72 11% 35%;
    --chart-4: 72 11% 38%;
    --chart-5: 252 14% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 149.43 2.24% 3.76%;
    --foreground: 252 15.08% 88.22%;
    --muted: 133.58 2.24% 15.05%;
    --muted-foreground: 0 0% 100%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 187.92 13.72% 6.76%;
    --card-foreground: 252 18.78% 93.37%;
    --border: 0 0% 21%;
    --input: 117.74 3.64% 16.33%;
    --primary: 92.83 73.97% 61.58%;
    --primary-foreground: 0 0% 0%;
    --secondary: 186.76 97.26% 28.63%;
    --secondary-foreground: 0 0% 0%;
    --accent: 316.6 25.13% 36.67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354.51 87.43% 65.69%;
    --destructive-foreground: 0 0% 0%;
    --ring: 92.92 73.47% 61.57%;
    --chart-1: 92.83 73.97% 61.58%;
    --chart-2: 186.76 97.26% 28.63%;
    --chart-3: 316.6 25.13% 36.67%;
    --chart-4: 186.76 97.26% 31.63%;
    --chart-5: 92.83 76.97% 61.58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* Global modern dark scrollbar styles */
* {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: hsl(240 5% 26%) hsl(240 5% 15%);
  /* Firefox */
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: hsl(240 5% 15%);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: hsl(240 5% 26%);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(240 5% 34%);
}

/* For horizontal scrollbars */
::-webkit-scrollbar-corner {
  background: transparent;
}

.text-git{
  color: #fd7f63;
  opacity: 1;
}